<h1>{{title}}</h1>

<ul>
  <li *ngFor="let todo of todos">{{todo.id}}
    .{{todo.title}}
    || <button *ngIf="!todo.done" (click)="markAsDone(todo)">concluir</button> 
       <button *ngIf="todo.done" (click)="markAsUnDone(todo)">refazer</button> 
    || <button (click)="remover(todo)">remover</button></li>
</ul>

<form >
   <fieldset>
    <legend>Adicionar nova tarefa</legend>
    <label for="title">Título: </label>
    <input newTodo.title type="text">
    <button> Adicionar</button>
   </fieldset>
</form>